
<!--Header--> 

  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom ">
    <div class="col-md-3 mb-2 mb-md-0"></div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="./home/" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="./shibes/" class="nav-link px-2 link-primary">Shibes</a></li>
    </ul>

    <div class="col-md-3 text-end ">
      <app-button [route] = "'/login'" [text] = "'Login'"></app-button>
      <app-button [route] = "'/signup'" [text] = "'Sign-up'"></app-button>
    </div>
  </header>




  <!--Sidebar-->
<div class="row">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary col-3" >
    <span class="fs-4">Sidebar</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="./login/" class="nav-link active" aria-current="page">
          Login
        </a>
      </li>
      <li>
        <a href="./signup/" class="nav-link link-body-emphasis">
          Sign Up
        </a>
      </li>
    </ul>
    
  </div>
  <div class="col-md-9 ">
    <router-outlet></router-outlet>
  </div>
      
</div>   
  
  
    
    

  





