    <!--Cover-->

<div [routerLink]="route" class="container">
    <div class="px-4 py-3 my-0 text-center">
        <img class="d-block mx-auto mb-4" src="../assets/welcomePhoto/grogu.jpg" alt="grogu" width="col-4" height="200px">
        <h1 class="display-5 fw-bold text-body-emphasis">Hello, Welcome!</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quas,
            eaque in sequi voluptatem nam doloribus consequuntur necessitatibus,
            ad rem perspiciatis labore odio corporis accusantium, molestias blanditiis architecto. Debitis, incidunt.
          </p>
        </div>
    </div>
</div>